/* ChatWindow.css */

.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background: #f7f7f7;
}

.message-admin {
    text-align: right;
    background: #e6f7ff;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    max-width: 70%;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.message-user {
    text-align: left;
    background: #fff;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    max-width: 70%;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chat-input .ant-input {
    flex: 1;
    margin-right: 10px;
}

.admin-cont {
    display: flex;
    justify-content: end;
}

.user-cont {
    display: flex;
    justify-content: start;
}